*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*table, th, td { 
    border: 2px solid black; 
}*/

table {
    border-collapse: collapse;
}

th, td {
    padding: 20px;
    border-bottom: 1px solid red;
    /* text-align: center; */
}